:root {
    --primary-background: #87CEEB;
    --secondary-color: #ADD8E6;
    --accent-color: #3498DB;
    --background-color: #121212;
}

/* Font Family */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-background);
    overflow-x: hidden;
}

code {
    font-family: 'Consolas', 'Monaco', monospace;
}

*:before,
*:after,
* {
    box-sizing: border-box;
}

#about h1 {
    font-size: 3.5rem;
}

#about p {
    font-size: 1rem;
    font-weight: bold;

}

h1,
h2 {
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);
}

h1 {
    font-weight: 600;
    font-size: 3rem;
}

h2 {
    font-weight: 500;
    font-size: 2rem;
}

p {
    color: #666;
}

a,
.btn {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover,
.btn:hover {
    text-shadow: 0 0 0.625rem var(--accent-color);
}

.highlight {
    color: #03A9F4;
    text-shadow: 0 0 0.313rem #03A9F4;
  }

/* About Section */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    background-color: var(--secondary-background);
    margin-top: 10rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60ch;
    padding: 2rem 1rem;
    text-align: center;
}

.profile-picture {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.about-text {
    text-align: center;
    font-size: 2.5rem;
}

.about-text h1 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.about-text p {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #666;
    padding: 0 2rem;
    text-align: justify;
}


/* Projects Section */

#projects {
    padding: 4rem 2rem;
    background-color: var(--primary-background);
}

.description {
    padding: 2rem;
    padding-top: 0;
    padding-bottom: 8rem;
    padding-left: 0;
}

.projects-container {
    max-width: 80rem;
    margin: 0 auto;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.project-card {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.project-card img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-content {
    padding: 2rem;
    position: relative;
    padding-bottom: 6rem;
    transition: color 0.2s ease-in-out;
    color: #FFC67D;
}

.card-content h2 {
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 2rem;
    height: 4rem;
    display: flex;
}

.card-content p {
    font-size: 1rem;
    color: #666;
}

.btn {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    text-decoration: none;
    background-color: #FFC67D;
    color: #121212;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background: linear-gradient(90deg, #FF69B4 0%, #FF99CC 100%);
}

.btn:hover {
    background: linear-gradient(90deg, #FF99CC 0%, #FF69B4 100%);
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0.938rem var(--accent-color);
}

.project-card[status="completed"] {
    border: 0.25rem solid #32CD32;
}

.project-card[status="ongoing"] {
    border: 0.25rem solid #FFA07A;
}

.project-card[status="completed"]:after {
    content: "Completed";
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #228B22;
    font-size: 1.2rem;
    font-weight: bold;
}

.project-card[status="ongoing"]:after {
    content: "Ongoing";
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #8B0A1A;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Certifications Section */
#certifications {
    padding: 4rem 2rem;
    background-color: var(--secondary-background);
}

.certifications-container {
    max-width: 80rem;
    margin: 0 auto;
    text-align: left;
}

.cert-card {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.cert-card img {
    width: auto;
    height: 8rem;
    max-width: 80%;
    object-fit: contain;
    margin: 1rem auto;
    display: block;
}


.cert-card .card-content {
    padding: 2rem;
    color: #666;
}

.cert-card h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--accent-color);
}

.cert-card p {
    font-size: 1rem;
}

.cert-card .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #FFC67D;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.cert-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1rem var(--accent-color);
}

/* Contact Section */

#contact {
    padding: 4rem 2rem;
    background-color: var(--secondary-background);
}

#contact p {
    font-weight: bold;
}

.contact-container {
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 2.5rem;
}

.contact-container h1 {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.contact-container p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.contact-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.contact-container li {
    margin-bottom: 0;
    margin-right: 2rem;
}

.contact-container li:last-child {
    margin-right: 0;
}

.contact-container img,
.contact-container i {
    font-size: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}

.contact-container a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s ease-in-out;
}

.contact-container a:hover {
    color: #444;
}

.contact-container form {
    margin-top: 2rem;
}

@media (min-width: 481px) {

    #about {
        padding: 4rem 2rem;
    }

    #about h1 {
        font-size: 3rem;
    }

    #about p {
        font-size: 1.5rem;
    }

    .profile-picture {
        width: 15rem;
        height: 15rem;
    }

    #contact {
        padding: 3rem 1.5rem;
    }

    .contact-container h1 {
        font-size: 2.5rem;
    }

    .card-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .project-card img {
        height: 15rem;
    }
}

@media (max-width: 480px) {
    .about-container, .projects-container, .contact-container {
        padding: 1rem;
    }

    .card-grid {
        margin: 0 auto;
    }
}

/* Single-column layout for mobile screens */
@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr;
    }

    .project-card {
        width: 100%;
    }
}

/* Fade-in animation */
.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

/* Slide-in animation */
.slide-in {
    transform: translateY(20px);
    transition: transform 1s ease-in-out;
}

.slide-in.visible {
    transform: translateY(0);
}

/* Scale-up animation */
.scale-up {
    transform: scale(0.8);
    transition: transform 1s ease-in-out;
}

.scale-up.visible {
    transform: scale(1);
}